<h1>
  {% if post-link %}
  <a href="{{post-link}}">
  {% endif %}
  {{title}}
  {% if post-link %}
  </a>
  {% endif %}
</h1>
<div class="post-meta">
  <span class="post-date">{{date}}</span>
  {% if tags %}
  <span class="meta-separator">•</span>
  <span class="post-tags">
    {% for tag in tags %}
    <a href="tags/{{tag|escape-tag}}.html" class="tag-link">{{tag}}</a>
    {% endfor %}
  </span>
  {% endif %}
</div>
{{body | safe}}
<p>Discuss this post <a href="{{discuss}}">here</a>.</p>
{% if tags %}
<p>
  <script
    src="https://utteranc.es/client.js"
    repo="jungwookim/jungwookim.github.io"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</p>
{% endif %}
